.example-spacer {
    flex: 1 1 auto;
    background-color: black;
  }

.cabecalho{
   
   
}

.mat-toolbar{
    background-color: black;
    padding: 0 2%;
   
}


.title-cabecalho{
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
}

.title-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo{
    background-color: white;
}