.cabecalho {
    flex: 1 1 auto;
    padding: 0 2%;
    background-color: black;
    display: flex;
    gap: 2%;
    
  }

  .rotas{
    
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;

    button{
        width: 16%;
        border-radius: 21px;
        width: 16%;
        border-radius: 21px;
        border: 2px;
        background-color: white;
        color: black;
        height: 2rem;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    button:hover{    
            background-color: cornflowerblue;
            color: white;
            border: none;
    }
  }


.title-cabecalho{
    font-size: 24px;
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    margin: 0;
}

.title-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo{
    background-color: white;
}

.usuario{
    
    color: white;
    height: 2rem;
    font-size: 14px;
    font-weight: 600;
}